
.box4{
    position: absolute;
    width: 664px;
    height: 60px;
    left: 398px;
    top: 75px;

    
}
.box4 p{
    position: absolute;
width: 664px;
height: 60px;
left: 0px;
top: 0px;

font-family: 'Goudy Old Style';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 60px;
/* identical to box height */

text-align: center;
letter-spacing: 0.05em;

color: #000000;
}
.box5{
    position: absolute;
width: 1340px;
height: 58px;
left: 50px;
top: 185px;
font-family: 'Varela Round';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center
}
.bigimg img{
    position: absolute;
    width: 760px;
    height: 681px;
    left: 45px;
    top: 292px;
    animation: lefttoright 2s linear;

}
@keyframes lefttoright {
    0%{transform: translateX(-100px);}
    100%{transform: translateX(0);}
}
.smallimg img{
    position: absolute;
    width: 482px;
    height: 581px;
    left: 825px;
    top: 292px;
    animation: righttoleft 2s linear;
}

@keyframes righttoleft {
    0%{transform: translateX(100px);}
    100%{transform: translateX(0);}
}


.appear{
    animation: appear 4s ease-in-out ;
}
@keyframes appear {
    0%{opacity: 0;}
    100%{opacity: 1;}
}